<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaoxiao.testrxjava">

    <!--网络相关-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--悬浮窗-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.INJECT_EVENTS" />

    <uses-permission android:name="WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".VirgoApplication"
        android:resizeableActivity="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToolbarActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".actionBar.ActionBarActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".TestActivity"
            android:label="anim">
            <tools:validation testUrl="http://www.virgox.cn/test" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.virgox.cn"
                    android:pathPrefix="/test" />
            </intent-filter>
        </activity>
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".service.ServiceActivity"></activity>
        <activity android:name=".testkeyboard.TestKeyBoardActivity"></activity>
        <activity android:name=".ListViewInScrollActivity"/>
        <activity android:name=".SurfaceViewActivity"/>
        <activity android:name=".CanvasViewActivity"
            android:launchMode="singleInstance"/>
        <activity android:name=".simplePagerTab.PagerSlidingTabActivity"/>
        <activity android:name=".FrameLayoutActivity"/>
        <activity android:name=".VolleyActivity"/>
        <activity android:name=".TestMixActivity"/>
        <activity android:name=".SlidingMenuActivity"/>
        <activity android:name=".TestButterKnifeActivity"/>
        <activity android:name=".OkHttpActivity"/>
        <activity android:name=".lifecycle.LifecycleActivity"/>
        <activity android:name=".DragonAnimActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".chatlist.ChatListActivity"/>
        <activity android:name=".WebActivity"/>

        <activity android:name=".PluginActivity" />
        <activity android:name="com.caixiaoxiao.plugin.host.ProxyActivity" />

        <activity
            android:name=".coordinatorlayout.CoordinatorLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".TestIOActivity" />

        <service android:name=".service.LocalService"></service>
        <service android:name=".service.ForegroundService"></service>
        <service
            android:name=".service.RemoteService"
            android:process=":remote"></service>
    </application>

</manifest>
