<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xiaoxiao.testrxjava"
    android:sharedUserId="android.uid.system">

    <!--网络相关-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--悬浮窗-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.INJECT_EVENTS" />

    <uses-permission android:name="WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 接收短信权限 -->
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 读取短信权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" /> <!-- 发送短信权限 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".VirgoApplication"
        android:resizeableActivity="true"
        android:persistent="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ToolbarActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".actionBar.ActionBarActivity"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".TestActivity"
            android:label="anim">

        </activity>
        <activity android:name=".eventbus.EventBusActivity" />
        <activity android:name=".service.ServiceActivity"></activity>
        <activity android:name=".testkeyboard.TestKeyBoardActivity"></activity>
        <activity android:name=".ListViewInScrollActivity" />
        <activity android:name=".SurfaceViewActivity" />
        <activity android:name=".CanvasViewActivity" />
        <activity android:name=".simplePagerTab.PagerSlidingTabActivity" />
        <activity android:name=".FrameLayoutActivity" />
        <activity android:name=".VolleyActivity" />
        <activity android:name=".TestMixActivity" />
        <activity android:name=".SlidingMenuActivity" />
        <activity android:name=".TestButterKnifeActivity" />
        <activity android:name=".OkHttpActivity" />
        <activity android:name=".lifecycle.LifecycleActivity" />
        <activity
            android:name=".DragonAnimActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".chatlist.ChatListActivity" />
        <activity android:name=".WebActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.APP_BROWSER"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="www.pptv.com"/>
                <data android:host="www.baidu.com"/>
            </intent-filter>
        </activity>

        <activity android:name=".PluginActivity" />
        <activity android:name="com.caixiaoxiao.plugin.host.ProxyActivity" />

        <activity
            android:name=".coordinatorlayout.CoordinatorLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".TestIOActivity" />

        <receiver android:name=".SmsAutoSendReceiver"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="700">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.LocalService" />
        <service android:name=".service.ForegroundService" />
        <service
            android:name=".service.RemoteService"/>

        <receiver android:name=".MyReceiver">
            <intent-filter>
                <action android:name="com.reacheng.alarm.action.CLICK" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

<!--        <receiver android:name=".MyReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>-->
<!--                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>

</manifest>
